  


   #FirstH1  {
    
text-transform: uppercase;
       
    }

    #SecH1 {

 color: rgb(93, 40, 143);
         text-align: center; 
         font-size: 50px;
text-transform: capitalize;
    }


    .shared {

        
        color: rgb(43, 116, 226);
         text-align: center; 
         font-size: 50px;

    }
        p {

            color: blue !;
        }
  
        /*This must be blue */

        * {
            text-transform: capitalize;
        }
