  


    h1{

        }

        color: blueviolet;
         text-align: center; 
         font-size: 50px;

        }

        p {

            color: blue;
            background-color: black;
        }
  
        /*hello/*

        